#milky-way {
    width: 300px;
    font-family: Arial, cursive, sans-serif;
}
#planets {
    margin-left: 20px;
    margin-bottom: 20px;
}

.top-bar {
    height: 20px;
    background-color: #009688
}

h1 {
    height: 60px;
    font-family: Arial, cursive, sans-serif;
    background-color: #26A69a;
    color: teal;
    margin: 0px;
}

.title {
    height: 100%;
    font-size: 25px;
    color: white;
    height: 100%;
    padding-top: 18px;
    margin: 0px;
}

ul {
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    list-style-type: none;
    font-size: 14px;
    padding: 15px 0px 0px 0px;
    margin: 0px;
}

li {
    height: 40px;
    color: black;
    font-size: 16px;
    height: 40px;
    padding-left: 15px;
    padding-top: 2px;
}
.menu-icon{
    margin-left: 15px;
}
html {
    background-color: aliceblue;
}